asttokens==2.4.1
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
executing==2.0.1
ipykernel==6.29.4
ipython==8.25.0
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
parso==0.8.4
prompt_toolkit==3.0.47
pure-eval==0.2.2
pywin32==306
pyzmq==26.0.3
stack-data==0.6.3
tornado==6.4.1
traitlets==5.14.3
wcwidth==0.2.13
absl-py==2.1.0
accelerate==1.6.0
aider-chat==0.50.1
aiofiles==24.1.0
aiohappyeyeballs==2.3.5
aiohttp==3.10.11
aiohttp-cors==0.7.0
aiosignal==1.3.1
airportsdata==20250224
alembic==1.14.1
altair==5.3.0
annotated-types==0.7.0
ansicon==1.89.0
anthropic==0.49.0
anyio==3.7.1
appdirs==1.4.4
asgiref==3.8.1
astor==0.8.1
astunparse==1.6.3
attrs==24.2.0
auth0-python==4.7.2
Authlib==1.3.1
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
bitsandbytes==0.43.1
blake3==1.0.4
bleach==6.1.0
blessed==1.20.0
blinker==1.9.0
browserpilot==0.2.52
browser-use==0.1.40
build==1.2.2.post1
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
chex==0.1.87
chromadb==0.5.23
chroma-hnswlib==0.7.6
click==8.1.7
cloudpickle==3.1.1
cohere==5.13.11
colorama==0.4.6
coloredlogs==15.0.1
compressed-tensors==0.9.3
ConfigArgParse==1.7
construct==2.10.70
contourpy==1.2.1
crewai==0.98.0
crewai-tools==0.32.0
cryptography==43.0.3
cycler==0.12.1
dacite==1.8.1
dataclasses-json==0.6.7
datasets==3.5.0
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
depyf==0.18.0
diff-match-patch==20230430
dill==0.3.8
dirtyjson==1.0.8
discord.py==2.4.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
docker-pycreds==0.4.0
docstring_parser==0.16
docx2txt==0.8
dotenv==0.9.9
durationpy==0.9
einops==0.8.1
email_validator==2.1.1
embedchain==0.1.126
etils==1.10.0
et_xmlfile==2.0.0
factorio-learning-environment==0.1.0
factorio-rcon-py==2.1.3
fastapi==0.115.12
fastapi-cli==0.0.7
fastavro==1.10.0
ffmpy==0.4.0
filelock==3.18.0
firebase-admin==6.5.0
flake8==7.1.1
Flask==3.1.0
flatbuffers==24.3.25
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.6.0
gguf==0.14.0
gitdb==4.0.11
GitPython==3.1.43
googleapis-common-protos==1.63.1
google-api-core==2.24.0
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.78.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-resource-manager==1.12.4
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
gptcache==0.1.44
gradio==4.40.0
gradio_client==1.2.0
graphviz==0.20.3
greenlet==3.1.1
grep-ast==0.3.3
groq==0.13.0
grpcio==1.69.0
grpcio-health-checking==1.69.0
grpcio-status==1.62.2
grpcio-tools==1.68.0
grpclib==0.4.7
grpc-google-iam-v1==0.13.1
h11==0.14.0
h2==4.1.0
h5py==3.12.1
haystack-ai==2.2.1
hf_transfer==0.1.9
hf-xet==1.0.3
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.30.2
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
ijson==3.3.0
imageio==2.37.0
importlib_metadata==7.2.1
importlib_resources==6.4.0
instructor==1.7.2
intel-openmp==2021.4.0
interegular==0.3.3
iso8601==2.1.0
itsdangerous==2.2.0
jaconv==0.4.0
jax==0.4.34
jaxlib==0.4.34
Jinja2==3.1.6
jinxed==1.3.0
jiter==0.8.2
joblib==1.4.2
jsonformer==0.12.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
json_repair==0.35.0
kaggle==1.6.14
kagglehub==0.3.12
keras==3.6.0
keyboard==0.13.5
kiwisolver==1.4.5
kubernetes==31.0.0
lancedb==0.18.0
langchain==0.3.15
langchain-anthropic==0.3.3
langchain-cohere==0.3.5
langchain-community==0.3.15
langchain-core==0.3.47
langchain-experimental==0.3.4
langchain-ollama==0.2.2
langchain-openai==0.3.1
langchain-text-splitters==0.3.5
langsmith==0.1.147
lark==1.2.2
lazy-imports==0.3.1
lazy_loader==0.4
libclang==18.1.1
linkup-sdk==0.2.2
litellm==1.57.4
llama-cloud==0.0.11
llama-index==0.10.58
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.57
llama-index-embeddings-huggingface==0.2.2
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48
llama-index-llms-openai==0.1.27
llama-index-multi-modal-llms-openai==0.1.8
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.31
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.9
lm-format-enforcer==0.10.11
lupa==2.4
Mako==1.3.8
Markdown==3.7
markdownify==0.14.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.0
mccabe==0.7.0
mdurl==0.1.2
mem0ai==0.1.47
minijinja==2.0.1
mistral_common==1.5.4
mkl==2021.4.0
ml_dtypes==0.5.1
mmh3==5.0.1
modal==0.68.19
monotonic==1.6
more-itertools==10.3.0
mpmath==1.3.0
msgpack==1.0.8
msgspec==0.19.0
multidict==6.0.5
multiprocess==0.70.16
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.8
netifaces==0.11.0
networkx==3.2.1
ninja==1.11.1.4
nltk==3.8.1
nodeenv==1.9.1
noise==1.2.2
Nuitka==2.5.1
numpy==2.2.4
nvidia-ml-py==12.560.30
oauthlib==3.2.2
ollama==0.4.7
onnxruntime==1.20.1
openai==1.75.0
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.3
opentelemetry-util-http==0.50b0
optax==0.2.4
optree==0.13.1
opt_einsum==3.4.0
ordered-set==4.1.0
orjson==3.10.3
outcome==1.3.0.post0
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==24.1
pandas==2.2.2
partial-json-parser==0.2.1.1.post5
pathspec==0.12.1
patronus==0.0.17
pdfminer.six==20231228
pdfplumber==0.11.5
peft==0.11.1
pillow==11.2.1
pip==24.0
platformdirs==4.3.6
playwright==1.51.0
portalocker==2.10.1
posthog==3.21.0
prometheus_client==0.20.0
prometheus-fastapi-instrumentator==7.1.0
propcache==0.2.1
protobuf==4.25.6
proto-plus==1.25.0
psutil==6.0.0
psycopg2==2.9.10
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.12.1
pycountry==24.6.1
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydantic-settings==2.7.1
pydeck==0.9.1
pydub==0.25.1
pyee==12.1.1
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.8.0
pykakasi==2.3.0
pylance==0.22.0
pypager==3.0.1
pypandoc==1.13
pyparsing==3.1.2
pypdf==5.1.0
pypdfium2==4.30.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyright==1.1.392.post0
pysbd==0.3.4
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==3.3.0
python-multipart==0.0.20
python-slugify==8.0.4
pytube==15.0.0
pytz==2024.1
pyvis==0.3.2
PyYAML==6.0.2
py-cpuinfo==9.0.0
qdrant-client==1.13.2
RapidFuzz==3.10.1
redis==5.2.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rich-toolkit==0.14.1
rpds-py==0.20.0
rsa==4.9
ruff==0.5.6
safetensors==0.4.3
schema==0.7.7
scikit-image==0.25.2
scikit-learn==1.5.1
scipy==1.13.1
scrapegraph_py==1.10.2
selenium==4.23.1
semantic-version==2.10.0
sentencepiece==0.2.0
sentence-transformers==3.0.1
sentry-sdk==2.29.1
serpapi==0.1.5
setproctitle==1.3.6
setuptools==77.0.3
shapely==2.0.5
shellingham==1.5.4
sigtools==4.0.1
six==1.16.0
SLPP==1.2.3
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundcloud-v2==1.6.0
sounddevice==0.5.0
soundfile==0.12.1
soupsieve==2.5
spider-client==0.1.26
spotdl==4.2.10
spotipy==2.24.0
SQLAlchemy==2.0.31
starlette==0.46.2
streamlit==1.36.0
striprtf==0.0.26
sympy==1.13.1
syncedlyrics==1.0.1
synchronicity==0.9.6
tabulate==0.9.0
tavily-python==0.4.0
tbb==2021.11.0
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow_intel==2.18.0
termcolor==2.4.0
terminalplot==0.4.0
text-unidecode==1.3
tf_keras==2.19.0
threadpoolctl==3.5.0
tifffile==2025.3.30
tiktoken==0.7.0
tinygrad==0.10.0
tokenizers==0.21.1
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.12.0
toolz==0.12.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
torchviz==0.0.2
tqdm==4.67.1
transformers==4.51.3
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
trio==0.26.0
trio-websocket==0.11.1
trl==0.16.1
twitchio==2.10.0
typer==0.12.3
types-certifi==2021.10.8.3
types-requests==2.32.0.20241016
types-toml==0.10.8.20240310
typing_extensions==4.12.2
typing-inspect==0.9.0
typing-inspection==0.4.0
tzdata==2024.1
ujson==5.10.0
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.2.2
uuid==1.30
uv==0.5.22
uvicorn==0.23.2
validators==0.34.0
vllm==0.8.4
wandb==0.19.11
watchdog==4.0.1
watchfiles==0.22.0
weaviate-client==4.10.4
webencodings==0.5.1
websockets==14.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.16.0
wsproto==1.2.0
xxhash==3.5.0
yarl==1.18.3
ytmusicapi==1.8.2
yt-dlp==2024.11.18
zipp==3.20.0
zstandard==0.23.0
exo==0.0.1
